:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --secondary-bg-color: #f5f4fa;
  --design-bg-color: #2f303a;
  --accent-color: #2196f3;
  --wite-bg-color: #ffffff;
  --white-text-color: #ffffff;
  --low-opacity-text: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--white-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ----------------ALL PAGES---------------- */

/* ----------------NAV---------------- */
.site-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-second-half {
  color: var(--primary-text-color);
}

.site-nav-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-link.current,
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* ----------------FOOTER---------------- */
.footer {
  background-color: var(--design-bg-color);
}

.white-half-logo {
  color: var(--white-text-color);
}

.footer-link-location {
  color: var(--white-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-link {
  color: var(--low-opacity-text);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* ----------------"Студия" page CSS---------------- */

/* ----------------HERO SECTION---------------- */
.hero-section {
  background-color: #2f303a;
}

.hero-title {
  color: var(--white-text-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border-radius: 4px;
  border: 1px solid #000000;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* ----------------ADVANTAGES---------------- */
.advantages-title {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ----------------WHAT CAN WE MAKE---------------- */
.we-make-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ----------------TEAM---------------- */
.team-section {
  background-color: var(--secondary-bg-color);
}

.team-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-title-member {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-description {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* ----------------"Портфолио" page CSS---------------- */

/* ----------------FILTER NAVIGATION---------------- */
.filter-nav-buttons {
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-nav-buttons:hover,
.filter-nav-buttons:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

/* ----------------PROJECTS---------------- */

.projects-title {
  color: var(--primary-text-color);
  font-weight: 700;
  size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-description {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
